/* Security.css */

/* Botones principales */
.button-container button {
    width: 200px;
    height: 100px;
    font-size: 1.2em;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 8px;
    margin: 10px;
    cursor: pointer;
}

/* Tabla de reportes estilo dashboard */
.tabla-reportes {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #343a40;
    color: white;
    font-size: 1.1em;
    text-align: center;
}

.tabla-reportes th,
.tabla-reportes td {
    padding: 12px;
    border: 1px solid #ddd;
}

.tabla-reportes th {
    background-color: #282c34;
}

.modal-header {
    background-color: #d9534f;
    color: white;
    text-align: center;
    font-size: 1.3em;
    padding: 10px;
}

.modal-body {
    font-size: 1.1em;
    padding: 20px;
    background-color: #f8f9fa;
    color: #333;
}

button.btn-enviar {
    background-color: #d9534f;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
}

button.btn-cancelar {
    background-color: #6c757d;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button.btn-enviar:hover {
    background-color: #c9302c;
}

button.btn-cancelar:hover {
    background-color: #5a6268;
}